* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: Arial, sans-serif;
}

body {
  margin: 20px;
  background: #333;
  min-height: 100vh;
}

.player_container {
  width: 100%;
  max-width: 900px;
  background: #000;
  position: relative;
}

.player_container .wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.player_container .wrapper .player_timeline {
  width: 100%;
  height: 8px;
  padding-inline: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player_container .wrapper .player_timeline .progress_area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 4px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  -webkit-transition: height 150ms ease-in-out;
  transition: height 150ms ease-in-out;
  cursor: pointer;
}

.player_container .wrapper .player_timeline .progress_area .progress_bar {
  width: 50%;
  height: inherit;
  background: white;
  position: relative;
  border-radius: inherit;
}

.player_container .wrapper .player_timeline .progress_area .progress_bar span {
  position: absolute;
  top: -16px;
  right: -8px;
  color: white;
  font-size: 11px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.player_container .wrapper .player_timeline .progress_area .progress_bar::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: white;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.player_container .wrapper .player_timeline .progress_area:hover {
  height: 6px;
}

.player_container .wrapper .player_timeline .progress_area:hover .progress_bar::before {
  width: 12px;
  height: 12px;
}

.player_container .wrapper .player_timeline .progress_area:hover .progress_bar span {
  opacity: 1;
  visibility: visible;
}

.player_container .wrapper .player_controls,
.player_container .wrapper .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player_container .wrapper .player_controls {
  padding: 8px 10px;
}

.player_container .wrapper .player_controls .controls {
  width: 100%;
  gap: 4px;
  color: white;
}

.player_container .wrapper .player_controls .controls:first-child {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.player_container .wrapper .player_controls .controls:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.player_container .wrapper .player_controls .controls button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: transparent;
  color: white;
}

.player_container .wrapper .player_controls .controls button i {
  font-size: 25px;
}

.player_container .wrapper .player_controls .controls.left #volume_range {
  cursor: pointer;
  -webkit-appearance: none;
  width: 75px;
  height: 4px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.7);
}

.player_container .wrapper .player_controls .controls.left #volume_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
}

.player_container .wrapper .player_controls .controls.center .play_pause {
  width: 42px;
  height: 42px;
  border: 3px solid white;
}

.player_container .wrapper .player_controls .controls.center .play_pause i {
  font-size: 40px;
}

.player_container .wrapper .player_controls .controls.center .play_pause i.pause {
  font-size: 28px;
}

.player_container .wrapper .player_controls .controls.center .time {
  font-size: 12px;
}

.player_container .wrapper .player_controls .controls.right button .setting {
  font-size: 21px;
}

.player_container video {
  width: 100%;
  vertical-align: middle;
}
/*# sourceMappingURL=player_test.css.map */